<div class="content-pane">
    <h3 class="title text-center"> My Wish List </h3>

    <a class="list-group-item" href="/#/addwishlistitem">Add Wishlist Item</a>

   <ul class="list-group" id="mediaList">
    </ul>
</div>